<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
>
  <div class="article-inner">
    <%- partial('post/gallery') %> <% if (post.link || post.title){ %>
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
      <div class="article-meta">
        <span
          ><i class="icon-published"></i> 发表于：<%- partial('post/date',
          {class_name: 'article-date', date_format: null}) %></span
        >
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span
          ><i class="icon-folder"></i> 分类于：<%- partial('post/category')
          %></span
        >
        <% if (!index){ %>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span id="<%= post.urlname %>" class="leancloud_visitors">
          <i class="icon-eye"></i> 阅读次数：
          <span class="leancloud-visitors-count">0</span>
        </span>
        <% } %>
      </div>
    </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (index){ %>
      <p class="index-excerpt">
        <%- post.excerpt ? post.excerpt : (function(params) { var str =
        params.replace(/<(style|script|iframe)[^>]*?>[\s\S]+?<\/\1\s*>/gi, '')
        .replace(/<[^>]+?>/g, '') .replace(/\s+/g, ' ') .replace(/ /g, ' ')
        .replace(/>/g, ' '); return str.slice(0, 300)}(post.content)) %>...
      </p>
      <% if (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %> <% } else { %> <%- post.content %> <% } %>
    </div>
    <% if (!index){ %>
    <footer class="article-footer">
      <% if (post.comments && config.disqus_shortname){ %>
      <a
        href="<%- post.permalink %>#disqus_thread"
        class="article-comment-link"
      >
        <%= __('comment') %></a
      >
      <% } %> <%- partial('post/tag') %>
    </footer>
    <% } %>
  </div>
  <% if (!index){ %> <%- partial('post/nav') %> <% } %> <% if (!index &&
  theme.valine){ %>
  <section id="vcomments"></section>
  <% } %>
</article>
