<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article categorys article-type-<%= post.layout %>"
  itemscope
  itemprop="blogTags"
>
  <% if (categorys.length){ %>
  <h1 class="categorys-title">当前共<%- categorys.length%>个分类</h1>
  <div class="categorys-list">
    <%- list_categories({show_count: theme.show_count}) %>
  </div>
  <% } %>
</article>
