<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
>
  <div class="article-inner">
    <%- partial('post/gallery') %> <% if (post.link || post.title){ %>
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
      <div class="article-meta">
        <span
          ><i class="icon-published"></i> 发表于：<%- partial('post/date',
          {class_name: 'article-date', date_format: null}) %></span
        >
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span
          ><i class="icon-folder"></i> 分类于：<%- partial('post/category')
          %></span
        >
        <% if (!index){ %>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span id="<%= post.urlname || post.link || post.title %>" data-flag-title="<%= post.title %>" class="leancloud_visitors">
          <i class="icon-eye"></i> 阅读次数：
          <span class="leancloud-visitors-count">0</span>
        </span>
        <% } %>
      </div>
    </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (index){ %>
      <p class="index-excerpt">
        <%- post.excerpt ? post.excerpt : (function(content){
          const end = content.indexOf(':::')
          if(end == -1) return strip_html(content).slice(0, 300) + '...'
          return content.slice(0, end)
        })(post.content) %>
      </p>
      <% if (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %> <% } else { %> <%- post.content.replace(':::', '') %> <% } %>
    </div>
    <% if (!index && post.copyright !== false){ %>
    <div class="article-copyright">
      <div>
        <p>本文作者：<%- config.author %></p>
        <p>本文链接：<a href="<%- post.permalink %>"><%- post.permalink %></a></p>
        <p>版权声明：本站所有文章除特别声明外，采用 <a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
            target="_blank"
            rel="noopener noreferrer"
          >CC BY-NC-ND 4.0</a> 许可协议，转载请注明出处。
        </p>
      </div>
    </div>
    <% } %>
    <% if (!index){ %>
    <div class="entry">
      <% if (!post.no_toc && !index){ %>
      <div id="toc-src" class="toc-article">
        <%- toc(post.content) %>
      </div>
      <% } %>
    </div>
    <footer class="article-footer">
      <% if (post.comments && config.disqus_shortname){ %>
      <a
        href="<%- post.permalink %>#disqus_thread"
        class="article-comment-link"
      >
        <%= __('comment') %></a
      >
      <% } %> <%- partial('post/tag') %>
    </footer>
    <% } %>
  </div>
  <% if (!index){ %> <%- partial('post/nav') %> <% } %> <% if (!index &&
  post.comment !== false && theme.valine){ %>
  <section id="vcomments"></section>
  <% } %>
</article>
