<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article tags article-type-<%= post.layout %>"
  itemscope
  itemprop="blogTags"
>
  <% if (tags.length){ %>
  <h1 class="tags-title">当前共<%- tags.length%>个标签</h1>
  <div class="tags-list">
    <%- tagcloud() %>
  </div>
  <% } %>
</article>
